tests/integration/src/test/resources/org/mule/test/components/component-stopped-processing.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:test="http://www.mulesoft.org/schema/mule/test" xmlns:doc="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
       http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
       http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
       http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
       http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd">

    <spring:beans>
        <spring:import resource="rest-api-security-template.xml" />

        <spring:bean name="userService" class="org.mule.test.TestUserService"/>
    </spring:beans>

    <http:connector name="httpConnector" extends="baseHttpConnector"/>

    <flow name="helloWorldService" extends="baseHttpService">
        <template-property key="http.path" value="/helloWorld"/>
        <template-property key="required.role" value="ROLE_ADMIN"/>
        <template-property key="service.name" value="World Service"/>
        <template-property key="http.port" value="8090"/>
        <template-stage name="processMessage">
            <logger level="ERROR" message="#[payload]"/>
        </template-stage>
        <!--<template-stage name="serviceImplementation">
            <processor-chain>
                <set-property propertyName="X-USER" value="#[username]"/>
                <set-property propertyName="X-SYSTEM" value="Mule"/>
                <set-property propertyName="X-LANG" value="Java"/>
            </processor-chain>
            <set-payload value="Hello World #[username] user!"/>
        </template-stage>-->
        <template-stage name="handleExceptionStage">
            <set-payload value="custom exception message world"/>
        </template-stage>
    </flow>

    <flow name="helloTemplatesService" extends="baseHttpService">
        <template-property key="http.path" value="/helloTemplate"/>
        <template-property key="http.port" value="8091"/>
        <template-property key="required.role" value="ROLE_ADMIN"/>
        <template-property key="service.name" value="Template Service"/>
        <template-stage name="processMessage">
            <set-variable variableName="userName" value="#[payload]"/>
            <set-payload value="#[['Hi ' + payload + '! How are you doing?', 'This is an example application']]"/>
        </template-stage>
        <template-stage name="handleExceptionStage">
            <set-payload value="custom exception message template"/>
        </template-stage>
        <!--<template-stage name="serviceImplementation">
            <set-payload value="Hello Template #[username] user!"/>
        </template-stage>-->
    </flow>

    <flow name="helloMuleService" extends="baseHttpService">
        <template-property key="http.path" value="/helloMule"/>
        <template-property key="http.port" value="8092"/>
        <template-property key="required.role" value="ROLE_USER"/>
        <template-property key="service.name" value="Mule Service"/>
        <template-stage name="processMessage">
            <logger level="ERROR" message="#[payload]"/>
        </template-stage>
        <!--<template-stage name="serviceImplementation">
            <set-payload value="Hello Mule #[username] user!"/>
        </template-stage>-->
       <!-- <template-stage name="handleExceptionStage">
            <set-payload value="custom exception message service"/>
        </template-stage>-->
    </flow>

</mule>
