modules/osgi-utils/src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
      xsi:schemaLocation="
    http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">

    <flow name="main">
        <poll>
            <set-payload value="POLL"/>
        </poll>

        <vm:outbound-endpoint path="payloadGenerator"/>
    </flow>

    <flow name="payloadGenerator">
        <vm:inbound-endpoint path="payloadGenerator"/>

        <logger level="INFO" message="Original payload: #[payload]"/>

        <set-payload value="OSGi!!!"/>

        <logger level="INFO" message="Updated payload: #[payload]"/>
    </flow>
</mule>
