extensions/jms/src/test/resources/ack/jms-ack.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:jmsn="http://www.mulesoft.org/schema/mule/jmsn"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
             http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
      http://www.mulesoft.org/schema/mule/jmsn http://www.mulesoft.org/schema/mule/jmsn/current/mule-jmsn.xsd">

    <!--<jmsn:config name="config">-->
        <!--<jmsn:active-mq-connection>-->
            <!--<jmsn:factory-configuration brokerUrl="tcp://192.168.99.100:61616" maxRedelivery="1"/>-->
        <!--</jmsn:active-mq-connection>-->
    <!--</jmsn:config>-->

    <flow name="publisher">
        <set-payload value="#[payload]" mimeType="application/json"/>
        <jmsn:publish config-ref="config" destination="${destination}"/>
        <logger level="ERROR" message="#[payload]"/>
    </flow>

    <flow name="listener" initialState="started">
        <jmsn:listener config-ref="config" destination="${destination}" ackMode="${ack.mode}"/>
        <logger level="ERROR" message="#[payload]"/>
        <set-variable variableName="action" value="#[%output application/java --- payload.action]" mimeType="application/java"/>
        <flow-ref name="saveMessage" />
        <choice>
            <when expression="#[variables.action == 'ACK']">
                <logger level="ERROR" message="ACKNOWLEDGING SESSION"/>
                <jmsn:ack ackId="#[attributes.ackId]"/>
            </when>
            <when expression="#[variables.action == 'EXPLODE']">
                <logger level="ERROR" message="THROWING EXCEPTION"/>
                <test:component throwException="true"/>
            </when>
            <when expression="#[variables.action == 'RECOVER']">
                <logger level="ERROR" message="RECOVERING SESSION"/>
                <jmsn:recover-session ackId="#[attributes.ackId]"/>
            </when>
            <otherwise>
                <logger level="ERROR" message="Nothing to do"/>
            </otherwise>
        </choice>
    </flow>
    
    <flow name="saveMessage" processingStrategy="asynchronous">
        <component class="org.mule.extensions.jms.test.JmsMessageStorage"/>
    </flow>

    <flow name="doManualAck">
        <logger level="ERROR" message="ACKNOWLEDGING SESSION"/>
        <jmsn:ack ackId="#[payload]"/>
    </flow>

    <flow name="recoverSession">
        <logger level="ERROR" message="RECOVERING SESSION"/>
        <jmsn:recover-session ackId="#[payload]"/>
    </flow>
</mule>
