tests/http/src/test/resources/http-policy-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:http-policy="http://www.mulesoft.org/schema/mule/http-policy"
      xmlns:test="http://www.mulesoft.org/schema/mule/test"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
               http://www.mulesoft.org/schema/mule/test http://www.mulesoft.org/schema/mule/test/current/mule-test.xsd
               http://www.mulesoft.org/schema/mule/http-policy http://www.mulesoft.org/schema/mule/http-policy/current/mule-http-policy.xsd">

    <httpn:listener-config name="proxyConfig">
        <httpn:listener-connection host="localhost" port="${proxyPort}"/>
    </httpn:listener-config>

    <httpn:request-config name="requestConfig">
        <httpn:request-connection host="google.com" port="80"/>
    </httpn:request-config>

    <flow name="proxyTemplate">
        <httpn:listener config-ref="proxyConfig" path="/*" responseStreamingMode="AUTO" parseRequest="false">
            <httpn:response-builder statusCode="#[message.getAttributes().getStatusCode()]"
                                    reasonPhrase="#[message.getAttributes().getReasonPhrase()]"
                                    headers="#[message.getAttributes().getHeaders()]" />
        </httpn:listener>
        <set-variable variableName="beforeRequestFlowVariable" value="value"/>
        <test:assert expression="#[flowVars.?beforeFlowSourceVariable == null]"/>
        <test:assert expression="#[flowVars.?beforeRequestRequestVariable == null]"/>
        <logger message="Logger in the flow with payload #[payload]"/>
        <httpn:request config-ref="requestConfig" method="GET" path="/" parseResponse="false">
            <httpn:request-builder>
                <httpn:headers>
                    <httpn:header key="User" value="Pepito"/>
                </httpn:headers>
            </httpn:request-builder>
        </httpn:request>
        <set-variable variableName="afterRequestFlowVariable" value="value"/>
        <test:assert expression="#[flowVars.?beforeRequestFlowVariable != null]"/>
        <test:assert expression="#[flowVars.?beforeRequestRequestVariable == null]"/>
        <test:assert expression="#[flowVars.?beforeFlowSourceVariable == null]"/>
        <test:assert expression="#[flowVars.?afterRequestRequestVariable == null]"/>
        <test:assert expression="#[flowVars.?beforeFlowSourceVariable == null]"/>
    </flow>

    <http-policy:proxy>
        <http-policy:source>
            <set-variable variableName="beforeFlowSourceVariable" value="value"/>
            <set-payload value="myValue"/>
            <set-payload value="myValue"/>
            <http-policy:execute-next/>
            <set-variable variableName="afterFlowSourceVariable" value="value"/>
            <test:assert expression="#[flowVars.?beforeFlowSourceVariable != null]"/>
            <test:assert expression="#[flowVars.?beforeRequestFlowVariable == null]"/>
            <test:assert expression="#[flowVars.?afterRequestFlowVariable == null]"/>
            <set-payload value="newValue"/>
        </http-policy:source>
        <http-policy:request>
            <set-variable variableName="beforeRequestRequestVariable" value="value"/>
            <test:assert expression="#[flowVars.?beforeFlowSourceVariable != null]"/>
            <test:assert expression="#[flowVars.?afterFlowSourceVariable != null]"/>
            <test:assert expression="#[flowVars.?beforeRequestFlowVariable == null]"/>
            <set-payload value="myNewRequestValue"/>
            <http-policy:execute-next/>
            <set-variable variableName="afterRequestRequestVariable" value="value"/>
            <test:assert expression="#[flowVars.?beforeFlowSourceVariable != null]"/>
            <test:assert expression="#[flowVars.?afterFlowSourceVariable != null]"/>
            <test:assert expression="#[flowVars.?beforeRequestRequestVariable != null]"/>
            <test:assert expression="#[flowVars.?beforeRequestFlowVariable == null]"/>
            <test:assert expression="#[flowVars.?afterRequestFlowVariable == null]"/>
        </http-policy:request>
    </http-policy:proxy>

</mule>
