tests/http/src/test/resources/http-policy-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:httpn="http://www.mulesoft.org/schema/mule/httpn"
      xmlns:http-policy="http://www.mulesoft.org/schema/mule/http-policy"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/httpn http://www.mulesoft.org/schema/mule/httpn/current/mule-httpn.xsd
               http://www.mulesoft.org/schema/mule/http-policy http://www.mulesoft.org/schema/mule/http-policy/current/mule-http-policy.xsd">

    <httpn:listener-config name="proxyConfig">
        <httpn:listener-connection host="localhost" port="${proxyPort}"/>
    </httpn:listener-config>

    <httpn:listener-config name="fakeConfig">
        <httpn:listener-connection host="localhost" port="${httpPort}"/>
    </httpn:listener-config>

    <httpn:request-config name="requestConfig">
        <httpn:request-connection host="localhost" port="${httpPort}"/>
    </httpn:request-config>

    <flow name="proxyTemplate">
        <httpn:listener config-ref="proxyConfig" path="/*" responseStreamingMode="AUTO" parseRequest="false">
            <httpn:response-builder statusCode="#[message.getAttributes().getStatusCode()]"
                                    reasonPhrase="#[message.getAttributes().getReasonPhrase()]"
                                    headersRef="#[message.getAttributes().getHeaders()]" />
        </httpn:listener>

        <logger message="Logger in the flow with payload #[payload]"/>

        <httpn:request config-ref="requestConfig" method="#[message.getAttributes().getMethod()]" path="/" parseResponse="false">
            <httpn:request-builder queryParams="#[message.getAttributes().getQueryParams()]" headers="#[message.getAttributes().getHeaders()]"/>
        </httpn:request>
    </flow>


    <flow name="fakeSever">
        <httpn:listener config-ref="fakeConfig" path="/*" responseStreamingMode="AUTO" parseRequest="false"/>

        <logger message="Fake service"/>
    </flow>


    <http-policy:policy>
        <http-policy:source>
            <set-payload value="myValue"/>
            <set-payload value="myValue"/>
        </http-policy:source>
        <http-policy:request>
            <set-payload value="myValue"/>
            <set-payload value="myValue"/>
        </http-policy:request>
    </http-policy:policy>

</mule>
